<div>
  <%= form_tag("/main", method: "post") do %>
    <%= label_tag(:keyword, "Enter Keywords") %><br />
    <%= text_field_tag(:keyword, nil, placeholder: "E.g. concert") %><br />
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div>
  <% if @stuff.present? %>
    <h3>Results </h3>

    <% @stuff.each do |tweet| %>
      <%= tweet.user.screen_name %> - <%= tweet.user.name%> <br/>
      <%=tweet.text%> <br/><br/>
    <%end%>
  <%end%>
</div>
